
.selected{
    font-weight: bold;
    font-family: sans-serif,fantasy;
}
.link{
    text-decoration: underline;
}
body{
    background-image: image()
}
#container{
    width: 1400;
    margin-left: auto;
    margin-right: auto;
}
#title{
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
}
#content{}

    
#Main{
   margin-left: auto;
}
#footer{
    clear: both;
    float: inherit;
    background-color: black;
    color: white;
    text-align: right;
}