#nav{
    width:auto;
    float:left;
    background-color: aqua;
    padding 0;
}
a
{
    text-decoration: none;
}
.selected{
    font-weight: bold;
    font-family: sans-serif,fantasy;
}
.link{
    text-decoration: underline;
}
body{
    background-image: image()
}
#container{
    width: 1400;
    margin-left: auto;
    margin-right: auto;
}
#title{
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
}
#content{
    padding: 10;
}
#Main{
   margin-left: auto;
    width: 1050;
}
#footer{
    clear: both;
    float: inherit;
    background-color: black;
    color: white;
    text-align: right;
}